<!doctype html>
<html lang="en">
  <head>

    <title>Static HTML File</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

    <div class="container mt-5">
      <div class="jumbotron text-center">

        <h1 class="display-4"> <%= title %> </h1>

        <a href="" class="btn btn-primary mb-3">

          Date: <%= new Date().toISOString() %>

        </a>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, ducimus. Error sunt illum eum sint libero? Architecto laboriosam optio repellendus amet quis ut vitae? Fuga modi temporibus ducimus voluptatum, obcaecati libero nostrum nisi veritatis excepturi officia natus facilis dolorum architecto totam eos laborum! Sapiente accusamus autem consectetur, optio consequatur a?</p>
        <button class="btn btn-success">Call Me</button>
      </div>
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>