<!doctype html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

  <body>

    <div class="container mt-5">

      <%- include('../partials/nav.ejs') %>



      <div class="text-center">

        <h1 class="display-5 mt-3"> <%= title %> </h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, ducimus. Error sunt illum eum sint libero? Architecto laboriosam optio repellendus amet quis ut vitae? Fuga modi temporibus ducimus voluptatum, obcaecati libero nostrum nisi veritatis excepturi officia natus facilis dolorum architecto totam eos laborum! Sapiente accusamus autem consectetur, optio consequatur a?</p>

        <div class="col-md-4 offset-md-4">
          <div id="accordion">

            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Gmail
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <a href="mailto:mmoin.official@gmail.com" class="btn btn-success">mmoin.official@gmail.com</a>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    LinkedIn
                  </button>
                </h5>
              </div>
  
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <a href="https://www.linkedin.com/in/mmoinuddin26/" target="_blank" class="btn btn-success">Mohammad Moin Uddin</a>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Mobile
                  </button>
                </h5>
              </div>
              
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <a href="tel:+8801571120010" class="btn btn-success">+880 1571 120010</a>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>

      </div>
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>