<!doctype html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

  <body>

    <div class="container mt-5">

      <%- include('../partials/nav.ejs') %>



      <div class="jumbotron text-center">

        <h1 class="display-5"> <%= title %> </h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, ducimus. Error sunt illum eum sint libero? Architecto laboriosam optio repellendus amet quis ut vitae? Fuga modi temporibus ducimus voluptatum, obcaecati libero nostrum nisi veritatis excepturi officia natus facilis dolorum architecto totam eos laborum! Sapiente accusamus autem consectetur, optio consequatur a?</p>

        <button class="btn btn-success">JavaScript</button>
        <button class="btn btn-success">Node Js</button>
        <button class="btn btn-success">Express Js</button>
        <button class="btn btn-success">Nodemon</button>

      </div>
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>